body {
  background-color: lightgrey;
}
.button {
    vertical-align: top;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;

    background-color: #166df7;
    border-radius: 5px;
    color: #ffffff;

    font-size: medium;
}
#btnPause {
    gap: 8px;
}
